.footer {
    background-color: var(--darc-bgc);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__two-section {
    @include tablet {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
    }
}

.footer-container {
    @include desktop {
        display: flex;
    }
}

.footer__unit {
    @include desktop {
        margin-right: 70px;
    }
}