.section__works {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    padding-top: 0;
}

.img-set {
    display: flex;
    column-gap: 30px;
}

.img-set__item {
    position: relative;
    width: calc((100% - 60px)/3);
}

.img-set__text {
    position: absolute;
    left: 0;
    bottom: 0;

    @include flex($jc: center);

    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-text);
    background: rgba(47, 48, 58, 0.8);
}